ol, ul {
  padding-left: 30px;
}

label {
  display:inline-block
}

.inputField[type=number]::-webkit-inner-spin-button,
.inputField[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.vertflex, .horizflex {
	display: flex;
	justify-content: center;
}
.vertflex{
	flex-direction: column;
}
.horizflex {
	flex-direction: row;
}
