ol, ul {
  padding-left: 30px;
}

label {
  display:inline-block
}

.inputField[type=number]::-webkit-inner-spin-button,
.inputField[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}