body {
    background-color: #F7F7F7;
}



.HomeWrapper {
    position: fixed;
    height: 100%;
    width: 100%;
}
.HomeContent {
    position: relative;
    height: 100%;
}
.HomeTitle {
    position: relative;
    font-size: 52px;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    padding: 200px 0 30px 0;
}
.HomeSection {
    width: 50%;
    height: 100%;
    float: left;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
}
.HomeSection:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}