
body {
    margin-top: 50px;
}
.NavigationBarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    padding: 0 15px;
    min-width: 520px;
    margin-bottom: 0;
    z-index: 1000;
}
.NavigationBarItemContainer {
    position: relative;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0;
    color: #FFFFFF;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.NavigationBarItemText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 3px 15px;
    border-radius: 3px;
    color: #fff;
}
.NavigationBarItemAnchor {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#Ten-Logo {
    width: 44px;
    height: 50px;
    position: relative;
    top: 60%;
    transform: translateY(-60%);
    display: block;
    float: left;
}
