
.FooterWrapper {
	width: 100%;
	bottom: 0;
}
.FooterContainer {
	position: relative;
	display: block;
	padding: 5px 10px;
	overflow: auto;
}
.FooterItem {
	padding: 10px 0;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
