body {
    background-color: #F7F7F7
}
#NavigationBarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #3E8EDE;
    color: #fff;
    position: relative;
    padding: 0 15px;
    min-width: 520px;
    margin-bottom: 600px;
}
.NavigationBarItemContainer {
    position: relative;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0;
}
.NavigationBarItemText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 3px 15px;
    border-radius: 3px;
}
.NavigationBarItemText:hover {
    background-color: #fff;
    color: #3E8EDE;
}
.NavigationBarItemAnchor {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.SectionWrapper {
    background-color: #5F63BD;
    padding: 30px 20px;
}
.SectionTitle {
    text-align: center;
    color: #fff;
    font-size: 42px;
    font-family: 'Roboto Slab', sans-serif;
}
.SectionSubtitle {
    text-align: center;
    color: #fff;
    font-size: 22px;
}
.StatisticCanvasWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
}
.StatisticCanvasContainer {
    padding: 0 5px;
}
.StatisticCanvas {
}
.StatisticCanvasLabel {
    text-align: center;
    color: #393C72;
}
